.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blue;
    width: 700px;
    height: 800px;
    border-radius: 10px;
    justify-content: space-around;
    padding: 25px;
    border: 10px solid black;
}
.container >div{
    height: 150px;
    width: 150px;
    background-color: rgb(32, 216, 155);
    margin: 10px;
    border-radius: 60px;
    
}
#monkey{
    height: 100px;
    margin: 25px;
    width: 100px;
    border-radius: 60px;
}
#sponge{
    height: 100px;
    margin: 25px;
    width: 100px;
    border-radius: 60px;
}
#jerrymouse{
    height: 100px;
    margin: 25px;
    width: 100px;
    border-radius: 60px;
}
#tom{
    height: 100px;
    margin: 25px;
    width: 100px;
    border-radius: 60px;
}
#callmonkey{
    height: 100px;
    margin: 25px;
    width: 100px;border-radius: 60px;
}
#patrick{
    height: 100px;
    margin: 25px;
    width: 100px;
    border-radius: 60px;
}