.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blue;
    width: 700px;
    height: 800px;
    border-radius: 10px;
    justify-content: space-around;
    padding: 25px;
    border: 10px solid black;
}
.container >div{
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    margin: 10px;
    border-radius: 10px;
    
}